.Card {
    width: 250px;
    height: fit-content;
    padding: 22px;
    border-right: 3px solid var(--white);
    font-size: 14px;
    margin-top: 24px;
    margin-left: 24px;

    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
